# Adapted from x-heep/tb/core-v-mini-mcu.cfg for lattice/icesugarpro project

exec icesprog -j 2 > icesprog_jtag_switch.log

debug_level 2
adapter speed 10000

adapter driver cmsis-dap

transport select jtag

set _CHIPNAME riscv

jtag newtap $_CHIPNAME cpu -irlen 5 -expected-id 0x10001C05

set _TARGETNAME $_CHIPNAME.cpu

target create $_TARGETNAME riscv -chain-position $_TARGETNAME -coreid 0x000

init

scan_chain

halt

echo "Ready for Remote Connections"
