
# log_output openocd_sw.log

# test according to christoph as this file is a tcl
exec icesprog -j 2 > icesprog_jtag_switch.log

debug_level 2
adapter speed 10000

adapter driver cmsis-dap

transport select jtag





set _CHIPNAME riscv

jtag newtap $_CHIPNAME cpu -irlen 5 -expected-id 0x10001C05

set _TARGETNAME $_CHIPNAME.cpu

target create $_TARGETNAME riscv -chain-position $_TARGETNAME -coreid 0x000




# unknown commands
#riscv set_reset_timeout_sec 2000
#riscv set_command_timeout_sec 2000

# prefer to use sba for system bus access
# riscv set_prefer_sba off


init

scan_chain


halt


#svf -tap riscv.cpu -quiet -progress main.elf

#exit

#echo "init routine started"

#halt
echo "Ready for Remote Connections"
